main {
    #page-about {
        padding: 48px 0;
        @media (min-width: 660px) {
            padding: 64px 0;
        }
        @media (min-width: 1000px) {
            padding: 100px 0 90px;
        }
        background-color: #F9F9F9;
        .about-image {
            width: 70%;
            @media (min-width: 1000px) {
                width: calc(40% - 24px);
            }
            img {
                width: 100%;
            }
        }
        .about-content {
            font-family: "TTFirsNeue Medium";
            width: 100%;
            @media (min-width: 1000px) {
                width: calc(60% - 24px);
            }
            h2 {
                font-size: 24px;
                line-height: 1.2;
                padding: 0 0 24px;
                @media (min-width: 660px) {
                    font-size: 32px;
                }
                @media (min-width: 1000px) {
                    font-size: 40px;
                }
            }
            .laon-advantages {
                padding-bottom: 64px;
                ul {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-gap: 32px 32px;
                    @media (min-width: 600px) {
                        grid-template-columns: repeat(2,1fr);
                        gap: 64px 32px;
                    }
                    li {
                        @include Flex(center,$j-con:space-between);
                        img {
                            width: 56px;
                            height: 56px;
                        }
                        span {
                            display: inline-block;
                            width: calc(100% - 80px);
                            font-size: 17px;
                        }

                    }
                }
            }
            .buttons {
                display: grid;
                gap: 10px;
                grid-template-columns: repeat(1,1fr);
                @media (min-width:600px) {
                    grid-template-columns: repeat(2,1fr);
                    gap: 40px;
                }
                .order-button {
                    display: block;
                    padding: 14px 0;
                    font-size: 17px;
                    border-radius: 8px;
                    text-align: center;
                    background-color: $main-color;
                    transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
                }
                .go-to-rates-btn {
                    display: block;
                    padding: 14px 0;
                    font-size: 17px;
                    border-radius: 8px;
                    text-align: center;
                    border: 1px solid #000;
                    transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
                    &::after {
                        content: "";
                        display: inline-block;
                        width: 24px;
                        height: 24px;
                        background-image: url('../../public/img/right_black_arrow_thin.svg');
                        background-repeat: no-repeat;
                        background-position: 50%;
                        margin-left: 8px;
                        vertical-align: text-bottom;
                    }
                    &:hover {
                        background-color: #000;
                        color: #fff;
                        &::after {
                            filter: brightness(0) invert(1);
                        }
                    }
                }
            }
        }
    }

    #card-services {
        padding: 64px 0;
        @media (min-width:600px)  {
            padding: 110px 0;
        }
        font-family: "TTFirsNeue Medium";
        .cs-title {
            padding-bottom: 60px;
            text-align: center;
            h2 {
                font-size: 40px;
                padding-bottom: 20px;
            }
            h3 {
                font-size: 24px;
                color: #939393;
            }
        }
        .cs-services {
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 20px;
            @media (min-width:600px) {
                gap: 30px;
                grid-template-columns: repeat(2,1fr);
            }
            @media (min-width:1000px) {
                gap: 50px;
                grid-template-columns: repeat(4,1fr);

            }
            .cs-service {
                padding: 48px 32px;
                border-radius: 8px;
                text-align: center;
                &:nth-child(1) {
                    border: 2px solid #6CC24A;
                }
                &:nth-child(2) {
                    border: 2px solid #7879F1;
                }
                &:nth-child(3) {
                    border: 2px solid #0072CE;
                }
                &:nth-child(4) {
                    border: 2px solid #FF9E1F;
                }
                .icon-img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-bottom: 24px;
                    font-family: "TTFirsNeue Medium";
                    span {
                        display: block;
                        width: 64px;
                        height: 64px;
                        line-height: 56px;
                        font-size: 18px;
                        font-weight: 600;
                        border-radius: 50%;
                        margin-left: -12px;
                        background-color: #FFC72C;
                        border: 4px solid #fff;
                        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
                    }
                }
                h4 {
                    font-size: 17px;
                    padding-bottom: 16px;
                    text-align: center;
                    font-weight: 300;
                    color: #000;
                }
                p {
                    font-size: 13px;
                    color: $extra-text-color;
                }
            }
        }
        .extra-info {
            padding: 64px 0 0;
            .ei-title {
                padding: 0 0 16px;
                @media (min-width:1000px)  {
                    padding: 0 0 20px;
                }
                h2 {
                    font-size: 40px;
                    text-align: center;
                }
            }
            .ei-content {
                padding: 40px;
                border: 1px solid #E2E2E2;
                border-radius: 8px;
                h3 {
                    font-size: 24px;
                    padding-bottom: 16px;
                    line-height: 1;
                    letter-spacing: -0.408px;
                }
                p {
                    font-size: 14px;
                    line-height: 1.33;
                    letter-spacing: -0.078px;
                    color: #939393;
                }
            }
        }
    }

    #order-form {
        background-color: #f9f9f9;
        padding: 110px 0 60px;
        .wrapper {
            max-width: 700px;
            margin: 0 auto;
            padding: 10px 20px 0;
            .of-title {
                margin-bottom: 36px;
                h2 {
                    text-align: center;
                    font-size: 32px;
                    padding-bottom: 36px;
                }
                .of-img {
                    position: relative;
                    text-align: center;
                    span {
                        position: relative;
                        z-index: 3;
                        display: inline-block;
                        padding: 0 36px;
                        background-color: #f9f9f9;
                        img {
                            width: 67px;
                            height: 105px;
                        }
                    }
                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 50%;
                        background-color: $form-color;
                        width: 100%;
                        height: 1px;
                    }
                }
            }
            form {
                .col2-input {
                    &.payment-method {
                        display: none;
                        &.active {
                            display: block;
                            @media (min-width: 600px) {
                                @include Flex(center,space-between);
                                gap: 24px;
                            }
                        }
                        .col-input {
                            input {
                                cursor: pointer;
                                &:checked {
                                    border-color: #6CC24A;
                                    background-color: rgba(108, 194, 74, .1);
                                }
                            }
                        }
                    }
                    @media (min-width: 600px) {
                        @include Flex(center,space-between);
                        gap: 24px;
                    }
                    .col-input {
                        position: relative;  
                        width: 100%;
                        margin-bottom: 24px;
                        height: 55px;
                        @media (min-width: 1000px) {
                            height: 65px;
                        }
                        @media (min-width: 600px) {
                            width: 50%;
                        }
                        input,select {
                            height: 100%;
                            padding: 0 16px;
                            border: 1px solid $form-border-color;
                            border-radius: 8px;
                            font-size: 17px;
                            appearance: none;
                            width: 100%;
                            background-color: $white-color;
                            &#fin {
                                background: url('../../public/img/fin-icon.svg') no-repeat calc(100% - 16px) 50% #fff;
                            }
                        }
                        select {
                            background: url('../../public/img/select-arrow.svg') no-repeat calc(100% - 16px) 50% #fff;
                        }
                        span {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 16px;
                            font-size: 17px;
                            color: $form-color;
                            letter-spacing: -0.408px;
                            transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
                            &.active {
                                font-size: 12px;
                                top: 12px;
                                @media (min-width: 1000px) {
                                    top: 20px;
                                }
                            }
                        }
                        input[type="radio"] {
                            & + span {
                                font-size: 18px;
                                color: $secondary-color;
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                    }
                }
                .message-box {
                    display: none;
                    &.active {
                        display: block;
                    }
                    padding: 12px 12px 8px 64px;
                    box-shadow: inset 0 0 0 1px rgba(150, 150, 150, 1);
                    margin-bottom: 24px;
                    border-radius: 12px;
                    background: url('../../public/img/fin-icon.svg') no-repeat 20px 50% rgba(217, 217, 214, 0.1);
                    p {
                        font-size: 13px;
                        color: #303030;
                        line-height: 1.38;
                        letter-spacing: -0.078px;
                    }
                }
                .of-line {
                    position: relative;
                    text-align: center;
                    margin-bottom: 24px;
                    span {
                        position: relative;
                        z-index: 3;
                        background-color: #f9f9f9;
                        font-size: 14px;
                        padding: 0 12px;
                        color: $extra-text-color;
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        display: block;
                        background-color: $form-color;
                        width: 100%;
                        height: 1px;
                    }
                }
                .col1-input {
                    &.delivery {
                        display: none;
                        &.active {
                            display: block;
                        }
                    }
                    &.branch {
                        display: none;
                        &.active {
                            display: block;
                        }
                    }
                    .input-title {
                        display: inline-block;
                        font-size: 14px;
                        color: $form-color;
                        padding-bottom: 8px;
                    }
                    .col-input {
                        width: 100%;
                        margin-bottom: 24px;
                        position: relative;
                        height: 55px;
                        @media (min-width: 1000px) {
                            height: 65px;
                        }
                        input,select {
                            height: 100%;
                            padding: 0 16px;
                            border: 1px solid $form-border-color;
                            border-radius: 8px;
                            font-size: 17px;
                            appearance: none;
                            width: 100%;
                        }
                        select {
                            background: url('../../public/img/select-arrow.svg') no-repeat calc(100% - 16px) 50% #fff;
                        }
                        span {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 16px;
                            font-size: 17px;
                            color: $form-color;
                            letter-spacing: -0.408px;
                            transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
                            &.active {
                                font-size: 12px;
                                top: 12px;
                                @media (min-width: 1000px) {
                                    top: 20px;  
                                }
                            }
                        }
                    }

                    input[type="checkbox"] {
                        cursor: pointer;
                        vertical-align: text-bottom;
                        appearance: none;
                        border: 1px solid #00000033;
                        border-radius: 50%;
                        width: 20px;
                        height: 20px;
                        &:checked {
                            background: url('../../public/img/checked-icon.svg') no-repeat center;
                        } 
                    }
                    .agreement-txt {
                        display: inline-block;
                        margin-left: 10px;
                        font-size: 14px;
                        color: $extra-text-color;
                    }
                }
                .continue-btn {
                    font-family: "TT Commons Bold";
                    margin-top: 16px;
                    width: 100%;
                    height: 55px;
                    font-size: 18px;
                    @extend %tertiary-button;
                }
            }
        }
    }

    #faq-accordion {
        .faq-wrapper {
            max-width: 720px;
            padding: 40px 20px 48px;
            margin: 0 auto;
            .faq-title {
                h2 {
                    text-align: center;
                    font-weight: 500;
                    font-size: 32px;
                    padding-bottom: 40px;
                }
                
            }
            .accordion {
                .accordion-wrapper {
                    .accordion-item {
                        border-radius: 8px;
                        background-color: $white-color;
                        box-shadow: 0px 2px 10px rgba(122, 122, 122, 0.12), 2px 0px 10px #d8d8d814;
                        margin-bottom: 16px;
                        .ai-inner {
                            position: relative;
                            &::before {
                                content: '';
                                display: block;
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 5px;
                                height: 100%;
                                border-bottom-left-radius: 8px;
                                border-top-left-radius: 8px;
                                background-color: #FFC72C;
                            }
                            .ai-title {
                                width: 100%;
                                line-height: 1.6;
                                cursor: pointer;
                                .title-inner {
                                    position: relative;
                                    padding: 12px 64px 12px 24px;
                                    h2 {
                                        text-align: left;
                                        font-weight: 500;
                                        font-size: 20px;
                                    }
                                    span {
                                        display: block;
                                        width: 12px;
                                        height: 12px;
                                        position: absolute;
                                        right: 28px;
                                        top: calc(50% - 6px);
                                        &.active {
                                            &::after {
                                                transform: rotate(0deg);
                                            }
                                        }
                                        &::before {
                                            content: '';
                                            position: absolute;
                                            left: 0;
                                            top: calc(50% - 1px);
                                            display: block;
                                            height: 2px;
                                            width: 100%;
                                            background-color: #000;
                                            
                                        }
                                        &::after {
                                            content: '';
                                            position: absolute;
                                            left: 0;
                                            top: calc(50% - 1px);
                                            display: block;
                                            height: 2px;
                                            width: 100%;
                                            background-color: #000;
                                            transform: rotate(90deg);
                                            transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
                                        }
                                    }
                                }
                            }
                            .ai-content {
                                max-height: 0;
                                overflow: hidden;
                                transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
                                .content-inner {
                                    padding: 8px 24px 20px;
                                    font-size: 18px;
                                    color: $extra-text-color;
                                    letter-spacing: -0.408px;
                                    transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
                                    p {
                                        padding-bottom: 8px;
                                    }
                                    ul {
                                        li {
                                            position: relative;
                                            padding-left: 16px;
                                            &::before {
                                                content: '';
                                                display: block;
                                                position: absolute;
                                                left: 4px;
                                                top: 12px;
                                                width: 3px;
                                                height: 3px;
                                                background-color: $extra-text-color;
                                                border-radius: 50%;

                                            }
                                        }
                                    }
                                    a {
                                        color: $blue-text-color;
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #services-slides {
        padding-bottom: 40px;
        .ss-title {
            @include Flex($a-items:center,$j-con:space-between);
            margin-bottom: 5px;
            h2 {
                font-family: "TT Commons Bold";
                font-size: 25px;
            }
            .slide-pagination {
                button {
                    width: 28px;
                    height: 28px;
                    border: 1px solid $main-border-color;
                    border-radius: 50%;
                    
                    cursor: pointer;
                    &:first-child {
                        margin-right: 5px;
                    }
                    img {
                        vertical-align: middle;
                    }
                }
            }
        }
        .ss-carousel {
            .carousel-inner {
                @include Flex($a-items:center,$j-con:space-between);
                overflow: hidden;
                white-space: nowrap;
                scroll-behavior: smooth;
                &.dragging {
                    scroll-behavior: auto;
                }
                .slide-item {
                    padding: 0 15px;
                    &:first-child {
                        padding-left: 0;
                    }
                    &:last-child {
                        padding-right: 0;
                    }
                    .si-wrapper {
                        position: relative;
                        width: 346.5px;
                        height: 295px;
                        .slide-content {
                            display: flex;
                            background-color: $main-gray-bg-color;
                            border-radius: 10px;
                            position: relative;
                            .slide-left {
                                padding: 30px 0 30px 30px;
                                width: calc(100% - 130px);
                                white-space: wrap;
                                h3 {
                                    font-size: 22px;
                                    margin: 0 0 10px 0;
                                    font-family: "TT Commons Bold";
                                }
                                p {
                                    font-size: 16px;
                                    line-height: 20px;
                                    color: $main-text-color;
                                }
                                .more-btn {
                                    background: url('../../public/img/blue_arrow.svg') no-repeat right 9px;
                                    display: inline-block;
                                    font-family: "TT Commons Bold";
                                    padding: 5px 38px 5px 0;
                                    color: $blue-text-color;
                                    transition: all 0.2s cubic-bezier(.52, .01, .16, 1);
                                }
                            }
                            .slide-right {
                                @media (min-width: 1000px) {
                                    width: 200px;
                                }
                                width: 140px;
                                height: 295px;
                                background-position: bottom center;
                                background-repeat: no-repeat;
                                background-size: contain;
                            }
                        }
                        .item-link {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}

#slide-modal {
    @include Position(fixed,0,0);
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: $main-text-color;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s cubic-bezier(.52, .01, .16, 1);
    &.show {
        opacity: 1;
        visibility: visible;
    }
    .modal {
        max-width: 780px;
        width: 100%;
        height: calc(100vh - 80px);
        padding: 0 10px;
        transition: all 0.3s cubic-bezier(.52, .01, .16, 1);
        @include Position(absolute,50%,50%,translate(-50%,-30%));
        &.show {
            transform: translate(-50%,-50%);
        }
        .modal-inner {
            position: relative;
            width: 100%;
            height: 100%;
            background-color: $white-color;
            border-radius: 20px;
            .close-btn {
                height: 70px;
                width: 70px;
                cursor: pointer;
                @include PositionR(absolute,0,0);
                @media (min-width: 992px) {
                    @include PositionR(absolute,0,-70px);
                }
                .close-img {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    img {
                        @include Position(absolute,50%,50%,translate(-50%,-50%));
                        z-index: 99999;
                        width: 23px;
                        height: 23px;
                        &.mobile-close {
                            display: block;
                            @media (min-width: 992px) {
                                display: none;
                            }
                        }
                        &.desktop-close {
                            display: none;
                            @media (min-width: 992px) {
                                display: block;
                            }
                        }
                    }
                }
            }
            .slide-modal {
                @include Flex($j-con:space-between);
                height: 100%;
                border-radius: 20px;
                overflow: hidden;
                .sm-left {
                    overflow-y: scroll;
                    width: 100%;
                    @media (min-width: 1000px) {
                        width: calc(100% - 220px);
                    }
                    &::-webkit-scrollbar {
                        width: 5px;
                        box-shadow: inset 0 0 5px #f0f0f0;
                        border-radius: 10px;
                        &-thumb{
                            background-color: #a8a8a8;
                            border-radius: 4px;
                        }
                    }
                    .sm-item {
                        display: none;
                        &.active {
                           display: block;
                        }
                        .sm_i-top {
                            position: relative;
                            min-height: 200px;
                            border-radius: 20px 0 0 0;
                            background-color: $main-gray-bg-color;
                            .sm_i-text {
                                @include Flex($a-items:center);
                                position: absolute;
                                top: 0px;
                                left: 0px;
                                width: 60%;
                                height: 100%;
                                font-size: 27px;
                                padding: 0 20px 0 20px;
                                font-family: "TTFirsNeue Medium";
                                @media (min-width: 1000px) {
                                    padding: 0 20px 0 50px;
                                    font-size: 30px;
                                }
                            }
                            .sm_i-bg {
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 50%;
                                height: 100%;
                                background-size: 90%;
                                background-position: 50%;
                                background-repeat: no-repeat;
                            }
                        }
                        .sm_i-bottom {
                            padding: 30px 50px;
                            font-size: 18px;
                            line-height: 24px;
                            color: $main-text-color;
                            a {
                                color: $blue-text-color;
                            }
                            p {
                                margin-bottom: 15px;
                            }
                            ul {
                                li {
                                    position: relative;
                                    padding-left: 40px;
                                    margin-bottom: 15px;
                                    &::after {
                                        content: "";
                                        display: block;
                                        position: absolute;
                                        top: 3px;
                                        left: 0px;
                                        width: 20px;
                                        height: 20px;
                                        border-radius: 50%;
                                        background: $main-color;
                                    }
                                    a {
                                        
                                    }
                                }
                            }
                        }
                    }
                }
                .sm-right {
                    display: none;
                    height: 100%;
                    width: 0;
                    @media (min-width: 1000px) {
                        display: block;
                        width: 220px;
                    }
                    border-left: 1px solid $main-border-color;
                    padding: 20px 0;
                    h4 {
                        font-family: "TT Commons Medium";
                        font-size: 18px;
                        color: $main-text-color;
                        padding: 0 30px;
                        margin-bottom: 10px;
                    }
                    ul {
                        li {
                            a {
                                display: block;
                                font-family: "TT Commons Medium";
                                font-size: 15px;
                                padding: 10px 30px;
                                transition: all 0.2s ease-out;
                                &:hover {
                                    background-color: $main-color;
                                }
                                &.active {
                                    background-color: $main-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}