main {
    
    #main-title {
        .add-news {
            margin: 20px 0;
            font-size: 18px;
            @extend %tertiary-button;
        }
    }

    #all-news {
        .news {
            .row {
                .news-item {
                    padding: 0 15px 30px;
                }
            }
        
            .more-news-link {
                text-align: center;
                padding-top: 25px;
                a {
                    display: inline-block;
                    height: 48px;
                    font-family: "TT Commons Bold";
                    padding: 0 54px 0 20px;
                    border-radius: 6px;
                    border: 1px solid $blue-text-color;
                    line-height: 50px;
                    color: $blue-text-color;
                    background: url('../../public/img/blue_arrow.svg') no-repeat calc(100% - 12px) 50%;
                    background-color: $white-color;
                    transition: all 0.2s cubic-bezier(.52, .01, .16, 1);
        
                    &:hover {
                        color: $white-color;
                        background: url('../../public/img/white-arrow.svg') no-repeat calc(100% - 12px) 50%;
                        background-color: $blue-text-color;
                    }
                }
            }
        }
    }
}

.news-modal {
    @include Position(fixed,0,0);
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: $main-text-color;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s cubic-bezier(.52, .01, .16, 1);
    &.show {
        opacity: 1;
        visibility: visible;
    }
    .modal {
        @include Position(absolute,50%,50%,translate(-50%,-30%));
        padding: 0 10px;
        max-width: 705px;
        width: 100%;
        height: 350px;
        transition: all 0.3s cubic-bezier(.52, .01, .16, 1);
        &.show-modal {
            transform: translate(-50%,-50%);
        }
        .modal-inner {
            background-color: $white-color;
            width: 100%;
            height: 100%;
            position: relative;
            border-radius: 20px;
            padding: 40px 10px 10px 10px; 
            .close-news-modal {
                @include PositionR(absolute,0,0);
                height: 50px;
                width: 50px;
                @media (min-width: 1000px) {
                    @include PositionR(absolute,0,-50px);
                }
                .close-button {
                    cursor: pointer;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    img {
                        @include Position(absolute,50%,50%,translate(-50%,-50%));
                        height: 23px;
                        width: 23px;

                        &.mobile-close {
                            display: block;
                            @media (min-width: 992px) {
                                display: none;
                            }
                        }
                        &.desktop-close {
                            display: none;
                            @media (min-width: 992px) {
                                display: block;
                            }
                        }
                    }
                }
            }
            .modal-content {
                overflow-y: scroll;
                height: 100%;
                position: relative;
                &::-webkit-scrollbar {
                    width: 4px;
                    &-thumb{
                        background-color: #a8a8a8;
                        border-radius: 3px;
                    }
                }
                .content-title {
                    text-align: center;
                    h2 {
                        font-family: "TT Commons Medium";
                        font-size: 25px;
                        margin: 0 0 25px 0;
                    }
                }
                .content-text {
                    form {
                        max-width: 600px;
                        margin: 0 auto;
                        .content-item {
                            &:first-child {
                                padding-bottom: 40px;
                            }
                            label {
                                display: block;
                                line-height: 1;
                            }
                            .nameinput {
                                width: 100%;
                                height: 55px;
                                padding: 16px 10px;
                                border-radius: 10px;
                                border: 1px solid $main-border-color;
                                font-size: 18px;
                                @media (min-width: 1000px) {
                                    height: 65px;
                                    padding: 20px 16px;
                                }
                            }
                            .item-button {
                                width: 100%;
                                text-align: end;
                                padding: 30px 0 15px 0;
                                border-top: 1px solid $main-border-color;
                                .add-button {
                                    width: 100%;
                                    font-size: 18px;
                                    @extend %tertiary-button;
                                    @media (min-width: 1000px) {
                                        width: 33.333%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
