.mobile-app-links {
    width: 100%;
    height: 55px;
    border: 1px solid $main-border-color;
    border-radius: 5px;
    background-color: $white-color;
    @include Flex(center,space-between);
    margin-top: 10px;
    @media (min-width: 1000px) {
        position: absolute;
        bottom: 45px;
        left: 45px;
        margin-top: 0;
    }
    li {
        width: 33%;
        a {
            display: block;
            white-space: nowrap;
            text-align: center;
            @media (min-width: 1000px) {
                padding: 0 6px;
            }
            .link-content {
                display: inline-block;
                color: #505050;
                padding-left: 24px;
                background-position: left 10px;
                background-size: 15px;
                background-repeat: no-repeat;
                @media (min-width: 1000px) {
                    padding: 6px 0 6px 34px;
                }
                span {
                    opacity: .5;
                    font-size: 11px;
                    @media (min-width: 1000px) {
                        font-size: 12px;
                    }
                }
                p {
                    opacity: .5;
                    letter-spacing: -0.4px;
                    line-height: 9px;
                    font-family: "TT Commons Medium";
                }

                &:first-child {
                    @media (min-width: 1000px) {
                        background-position: left 11px;
                    }
                }
                &:nth-child(2) {
                    @media (min-width: 1000px) {
                        background-position: left 13px;
                    }
                    
                }
                &:last-child {
                    @media (min-width: 1000px) {
                        background-position: left 14px;
                        background-size: 24px;
                    }
                    
                }
            }
        }
    }
}

%main-button {
    position: relative;
    display: inline-block;
    padding: 13px 20px;
    height: auto;
    font-family: "TT Commons Bold";
    cursor: pointer;
    transition: all .3s cubic-bezier(.52, .01, .16, 1);
    @media (min-width: 1000px) {
        height: 60px;
        padding: 15px 20px;
    }
    span {
        position: relative;
        z-index: 2;
        font-size: 16px;
        color: $white-color;
        text-align: center;
        transition: all .3s cubic-bezier(.52, .01, .16, 1);
        @media (min-width: 1000px) {
            font-size: 20px;
        }
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: $secondary-color;
        transition: all 0.2s cubic-bezier(.52, .01, .16, 1);
        transform: skew(0);
        border-radius: 6px;
        @media (min-width: 1000px) {
            border-radius: 0px;
            transform: skew(-14deg, 0);
            border-radius: none;
        }
    }
    &:hover {
        span {
            color: $secondary-color;
           
        }
        &::after {
            background-color: $main-color;
            
        }
    }
    
}

%secondary-button {
    height: 60px;
    display: inline-block;
    padding: 15px 20px;
    font-family: "TT Commons Bold";
    color: $secondary-color;
    cursor: pointer;
    span {
        position: relative;
        display: inline-block;
        font-size: 16px;
        padding: 0 30px 0 0;
        transition: all 0.2s cubic-bezier(.52, .01, .16, 1);
        @media (min-width: 1000px) {
            font-size: 20px;
            padding: 0 45px 0 0;
        }
        &::after {
            content: "";
            width: 35px;
            height: 16px;
            background: url('../../public/img/arrow-btn.svg') no-repeat right 6px;
            background-size: 20px;
            @include PositionR(absolute,0,0,translate(0,-3px));
            display: block;
            transition: all 0.2s cubic-bezier(.52, .01, .16, 1);
            @media (min-width: 1000px) {
                background: url('../../public/img/arrow-btn.svg') no-repeat right center;
                @include PositionR(absolute,0,0,translate(0,3px));
            }
        }
    }
    &:hover {
        span {
            &::after {
                transform: translate(5px,-3px); 
                @media (min-width: 1000px) {
                    transform: translate(5px,3px);
                }
            }
        }
    }

}

%tertiary-button {
    background-color: $main-color;
    color: $secondary-color;
    border-radius: 10px;
    padding: 13px 25px;
    font-family: "TT Commons Bold";
    cursor: pointer;
    transition: all .3s cubic-bezier(.52, .01, .16, 1);
    &:hover {
        background-color: $secondary-color;
        color: $white-color;
    }
}