.main-button {
    background-color: $main-color;
    color: $secondary-color;
    cursor: pointer;
    transition: all .3s cubic-bezier(.52, .01, .16, 1);
    &:hover {
        color: $white-color;
        background-color: $secondary-color;
    }
}
.calculator-title {
    color: $main-text-color;
}


.secondary-button {
    
    span {
        font-family: "TT Commons Bold";
        display: inline-block;
        padding: 5px 38px 5px 0;
        position: relative;
        display: inline-block;
        font-size: 16px;
        font-family: "TT Commons Bold";
        color: $secondary-color;
        @media (min-width: 1000px) {
            padding: 0 45px 0 0;
            font-size: 20px;
        }
        &:hover {
            &::after {
                transform: translate(5px,-50%);
                @media (min-width: 1000px) {
                    transform: translate(10px,-50%);
                    
                }
            }
        }
        &::after {
            content: "";
            width: 35px;
            height: 16px;
            @include PositionR(absolute,50%,0,translate(0,-50%));
            background: url("../../public/img/white-arrow.svg") no-repeat right center;
            background-size: 20px;
            @media (min-width:1000px) {
                background-size: auto;

            }
            
            display: block;
            transition: all 0.2s cubic-bezier(.52, .01, .16, 1);
        }
    }
}


.mobile-app-links {
    @media (min-width: 1000px) {
        position: absolute;
        bottom: 45px;
        left: 45px;
    }
    width: 100%;
    height: 55px;
    border: 1px solid $main-border-color;
    border-radius: 5px;
    background-color: $white-color;
    @include Flex(center,space-between);
    margin-top: 10px;
    @media (min-width: 1000px) {
        margin-top: 0;
        
    }
    li {
        width: 33%;
        a {
            display: block;
            white-space: nowrap;
            @media (min-width: 1000px) {
                padding: 0 6px;
            }
            text-align: center;
            .link-content {
                display: inline-block;
                color: #505050;
                padding-left: 24px;
                background-position: left 10px;
                background-size: 15px;
                background-repeat: no-repeat;
                @media (min-width: 1000px) {
                    padding: 6px 0 6px 34px;
                }
                span {
                    opacity: .5;
                    font-size: 11px;
                    @media (min-width: 1000px) {
                        font-size: 12px;
                    }
                }
                p {
                    opacity: .5;
                    letter-spacing: -0.4px;
                    line-height: 9px;
                    font-family: "TT Commons Medium";
                }

                &:first-child {
                    @media (min-width: 1000px) {
                        background-position: left 11px;
                    }
                }
                &:nth-child(2) {
                    @media (min-width: 1000px) {
                        background-position: left 13px;
                    }
                    
                }
                &:last-child {
                    @media (min-width: 1000px) {
                        background-position: left 14px;
                        background-size: 24px;
                    }
                    
                }
            }
        }
    }
}