@mixin Flex($a-items:null,$j-con:null,$f-dir:null,$f-wrap:null) {
    display: flex;
    align-items: $a-items;
    justify-content: $j-con;
    flex-direction: $f-dir;
    flex-wrap: $f-wrap;
}

@mixin Position($pos: null, $top: null, $left: null, $translate: null) {
    position: $pos;
    top: $top;
    left: $left;
    transform: $translate;
}
@mixin PositionR($pos: null, $top: null, $right: null, $translate: null) {
    position: $pos;
    top: $top;
    right: $right;
    transform: $translate;
}

